@model MarketPlace.DataLayer.DTOs.Common.RejectItemDTO

    <div class="form-group">
        <label class="float-right text-center">توضیحات مربوطه را بنویسید</label>
        <input type="hidden" asp-for="Id" />
        <textarea class="form-control form-control-rounded" asp-for="RejectMessage" rows="10"></textarea>
        <span class="text-danger" asp-validation-for="RejectMessage"></span>
    </div>
