@using MarketPlace.DataLayer.Entities.Site
@{
    ViewData["Title"] = "صفحه اصلی";
    var banners = ViewBag.banners as List<SiteBanner>;
}


@await Component.InvokeAsync("HomeSlider")

<div class="mb-4"></div><!-- End .mb-2 -->

<div class="icon-boxes-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-rocket"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">ارسال رایگان</h3><!-- End .icon-box-title -->
                        <p>برای سفارشات بالای 350 هزار تومان</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-rotate-left"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">بازگرداندن رایگان</h3><!-- End .icon-box-title -->
                        <p>تا 7 روز بعد از خرید</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-info-circle"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">10% تخفیف برای اولین خرید</h3>
                        <!-- End .icon-box-title -->
                        <p>کافیست ثبت نام کنید</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-life-ring"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">پشتیبانی حرفه ای</h3><!-- End .icon-box-title -->
                        <p>خدمات حرفه ای 24 ساعته/7روز هفته</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .icon-boxes-container -->

<div class="mb-4"></div><!-- End .mb-2 -->

@await Component.InvokeAsync("LatestArrivalProducts")

<div class="mb-2"></div><!-- End .mb-2 -->

@await Component.InvokeAsync("SiteBannerHome1")


<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("OffProducts")

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("SiteBannerHome2")

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("MaximumProductsView")

<div class="mb-1"></div><!-- End .mb-1 -->

@await Component.InvokeAsync("SiteBannerHome3")

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("ProductSlider", new { categoryName = "لوازم الکترونیکی" })

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("ProductSlider", new { categoryName = "لوازم خانگی" })

<div class="mb-3"></div><!-- End .mb-3 -->


<div class="container">
    <h2 class="title title-border mb-5">برندهای معروف</h2><!-- End .title -->
    <div class="owl-carousel mb-5 owl-simple" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "dots": true,
                        "margin": 30,
                        "loop": false,
                        "rtl": true,
                            "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            },
                            "1280": {
                                "items":6,
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/1.png" alt="نام برند">
        </a>

        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/2.png" alt="نام برند">
        </a>

        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/3.png" alt="نام برند">
        </a>

        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/4.png" alt="نام برند">
        </a>

        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/5.png" alt="نام برند">
        </a>

        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/6.png" alt="نام برند">
        </a>

        <a href="#" class="brand">
            <img src="~/Theme/assets/images/brands/7.png" alt="نام برند">
        </a>
    </div><!-- End .owl-carousel -->
</div><!-- End .container -->

<div class="cta cta-horizontal cta-horizontal-box bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2xl-5col">
                <h3 class="cta-title text-white text-right">عضویت در خبرنامه ما</h3><!-- End .cta-title -->
                <p class="cta-desc text-white">
                    با عضویت در خبرنامه ما اولین نفری باشید که از
                    <br>
                    محصولات جدید و
                    تخفیف ها با خبر می شوید
                </p>
                <!-- End .cta-desc -->
            </div><!-- End .col-lg-5 -->

            <div class="col-3xl-5col">
                <form action="#">
                    <div class="input-group">
                        <input type="email" class="form-control form-control-white ml-0"
                               placeholder="آدرس ایمیل خود را وارد کنید" aria-label="Email Adress" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-white-2" type="submit">
                                <span>عضویت</span><i class="icon-long-arrow-left"></i>
                            </button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- .End .input-group -->
                </form>
            </div><!-- End .col-lg-7 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .cta -->

<div class="blog-posts bg-light pt-4 pb-7">
    <div class="container">
        <h2 class="title">اخبار فروشگاه ما</h2><!-- End .title-lg text-center -->

        <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "items": 3,
                            "margin": 20,
                            "loop": false,
                            "rtl": true,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "600": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1280": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
            <article class="entry">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="~/Theme/assets/images/demos/demo-13/blog/post-1.jpg" alt="توضیحات عکس">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="entry-body text-right">
                    <div class="entry-meta d-flex justify-content-start">
                        <a href="#">22 فروردین 1399</a>, 0 دیدگاه
                    </div><!-- End .entry-meta -->

                    <h3 class="entry-title">
                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                    </h3><!-- End .entry-title -->

                    <div class="entry-content">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم ...
                        </p>
                        <a href="single.html" class="read-more">خواندن بیشتر</a>
                    </div><!-- End .entry-content -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->

            <article class="entry">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="~/Theme/assets/images/demos/demo-13/blog/post-2.jpg" alt="توضیحات عکس">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="entry-body text-right">
                    <div class="entry-meta d-flex justify-content-start">
                        <a href="#">12 فروردین 1399</a>, 0 دیدگاه
                    </div><!-- End .entry-meta -->

                    <h3 class="entry-title">
                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                    </h3><!-- End .entry-title -->

                    <div class="entry-content">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم
                        </p>
                        <a href="single.html" class="read-more">خواندن بیشتر</a>
                    </div><!-- End .entry-content -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->

            <article class="entry">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="~/Theme/assets/images/demos/demo-13/blog/post-3.jpg" alt="توضیحات عکس">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="entry-body text-right">
                    <div class="entry-meta d-flex justify-content-start">
                        <a href="#">10 فروردین 1399</a>, 2 دیدگاه
                    </div><!-- End .entry-meta -->

                    <h3 class="entry-title">
                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                    </h3><!-- End .entry-title -->

                    <div class="entry-content">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم ...
                        </p>
                        <a href="single.html" class="read-more">خواندن بیشتر</a>
                    </div><!-- End .entry-content -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->

            <article class="entry">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="~/Theme/assets/images/demos/demo-13/blog/post-4.jpg" alt="توضیحات عکس">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="entry-body text-right">
                    <div class="entry-meta d-flex justify-content-start">
                        <a href="#">10 فروردین 1399</a>, 2 دیدگاه
                    </div><!-- End .entry-meta -->

                    <h3 class="entry-title">
                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                    </h3><!-- End .entry-title -->

                    <div class="entry-content">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم
                        </p>
                        <a href="single.html" class="read-more">خواندن بیشتر</a>
                    </div><!-- End .entry-content -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->

            <article class="entry">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="~/Theme/assets/images/demos/demo-13/blog/post-1.jpg" alt="توضیحات عکس">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="entry-body text-right">
                    <div class="entry-meta d-flex justify-content-start">
                        <a href="#">22 فروردین 1399</a>, 0 دیدگاه
                    </div><!-- End .entry-meta -->

                    <h3 class="entry-title">
                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                    </h3><!-- End .entry-title -->

                    <div class="entry-content">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم ...
                        </p>
                        <a href="single.html" class="read-more">خواندن بیشتر</a>
                    </div><!-- End .entry-content -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->
        </div><!-- End .owl-carousel -->
    </div><!-- End .container -->
</div><!-- End .blog-posts -->

<div class="bg-lighter pt-6 pb-4" style="background-color: #93a6b0;">
    <div class="container">
        <div class="instagram-feed-container">
            <div class="row" style="padding-right: 50px;">
                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/1.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>387</a>
                            <a href="#"><i class="icon-comments"></i>45</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/2.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>691</a>
                            <a href="#"><i class="icon-comments"></i>87</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->


                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/3.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>321</a>
                            <a href="#"><i class="icon-comments"></i>54</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/4.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>44</a>
                            <a href="#"><i class="icon-comments"></i>55</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->
                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/4.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>44</a>
                            <a href="#"><i class="icon-comments"></i>55</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/5.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>128</a>
                            <a href="#"><i class="icon-comments"></i>99</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/6.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>433</a>
                            <a href="#"><i class="icon-comments"></i>25</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/7.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>588</a>
                            <a href="#"><i class="icon-comments"></i>44</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/8.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>87</a>
                            <a href="#"><i class="icon-comments"></i>23</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->

                <div class="feed-col">
                    <div class="instagram-feed">
                        <img src="~/Theme/assets/images/demos/demo-5/instagram/9.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>87</a>
                            <a href="#"><i class="icon-comments"></i>23</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .feed-col -->
            </div><!-- End .row -->
        </div><!-- End .instagram-feed-container -->
        <div class="mb-3"></div><!-- End .mb-3 -->
        @*<br />*@
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-rocket"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">پرداخت و ارسال</h3><!-- End .icon-box-title -->
                        <p>ارسال رایگان برای سفارشات بالای 350 هزار تومان</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-4">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-refresh"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">مرجوع کردن سفارشات</h3><!-- End .icon-box-title -->
                        <p>گارانتی بازگرداندن وجه به صورت کامل</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-4">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-life-ring"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">پشتیبانی حرفه ای</h3><!-- End .icon-box-title -->
                        <p>پشتبانی آنلاین به صورت 7روز هفته/24ساعته</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div>
