@using MarketPlace.DataLayer.Entities.Site
@{
    ViewData["Title"] = "فروشگاه اینترنتی";
    var banners = ViewBag.banners as List<SiteBanner>;
}


@await Component.InvokeAsync("HomeSlider")

<div class="mb-4"></div><!-- End .mb-2 -->

@await Component.InvokeAsync("SiteGuideline")

<div class="mb-4"></div><!-- End .mb-2 -->

@await Component.InvokeAsync("LatestArrivalProducts")

<div class="mb-2"></div><!-- End .mb-2 -->

@await Component.InvokeAsync("SiteBannerHome1")


<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("OffProducts")

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("SiteBannerHome2")

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("MaximumProductsView")

<div class="mb-1"></div><!-- End .mb-1 -->

@await Component.InvokeAsync("SiteBannerHome3")

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("ProductSlider", new { categoryName = "کالای دیجیتال" })

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("ProductSlider", new { categoryName = "خانه و آشپزخانه" })

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("ProductSlider", new { categoryName = "زیبایی و سلامت" })

<div class="mb-3"></div><!-- End .mb-3 -->

@await Component.InvokeAsync("ProductSlider", new { categoryName = "مد و پوشاک" })

<div class="cta cta-horizontal cta-horizontal-box bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2xl-5col">
                <h3 class="cta-title text-white text-right">عضویت در خبرنامه ما</h3><!-- End .cta-title -->
                <p class="cta-desc text-white">
                    با عضویت در خبرنامه ما اولین نفری باشید که از
                    <br>
                    محصولات جدید و
                    تخفیف ها با خبر می شوید
                </p>
                <!-- End .cta-desc -->
            </div><!-- End .col-lg-5 -->

            <div class="col-3xl-5col">
                <form action="#">
                    <div class="input-group">
                        <input type="email" class="form-control form-control-white ml-0"
                               placeholder="آدرس ایمیل خود را وارد کنید" aria-label="Email Adress" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-white-2" type="submit">
                                <span>عضویت</span><i class="icon-long-arrow-left"></i>
                            </button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- .End .input-group -->
                </form>
            </div><!-- End .col-lg-7 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .cta -->

@await Component.InvokeAsync("LatestArticles")


