@model List<MarketPlace.DataLayer.Entities.Site.SellerGuideline>
@{
    ViewData["Title"] = "فروشنده شوید";
}


<div class="page-header text-center">
    <div class="container">
        <h1 class="page-title">فروشنده شوید !</h1>
    </div><!-- End .container -->
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="container">
        <h2 class="title text-center mb-3">هر آنچه که نیاز دارید در مورد فروشنده شدن در سایتمان بدانید!</h2><!-- End .title -->
        <div class="accordion accordion-rounded" id="accordion-1">
            @if (Model != null && Model.Any())
            {
                @foreach (var guideline in Model)
                {
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse-@guideline.Id" aria-expanded="true" aria-controls="collapse-@guideline.Id">
                                    @guideline.QuestionTitle
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-@guideline.Id" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                            <div class="card-body">
                                @Html.Raw(guideline.AnswerTitle)
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                }
            }
        </div><!-- End .accordion -->

        <div class="custom-control custom-checkbox">
            <input type="checkbox" required="" class="custom-control-input" id="register-policy">
            <label class="custom-control-label" for="register-policy">
                با
                <a asp-area="" asp-controller="Home" asp-action="FrequentlyQuestions">با قوانین و مقررات سایت   </a> موافقم ! *
            </label>
        </div>

        <hr/>

        <div class="col-md-12">
            <a asp-area="Seller" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-round btn-block text-white">
                <i class="bi bi-box-arrow-in-left"></i>
                <svg style="margin-left: 5px" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                </svg>   
                فروشنده هستم (ورود به پنل فروشندگی)
            </a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-info btn-round btn-block text-white ">
                <i class="bi bi-person-circle"></i>
                <svg style="margin-left: 5px" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                فروشنده نیستم (ثبت نام در سایت)
            </a>
        </div>
    </div><!-- End .container -->
</div>

