@using MarketPlace.DataLayer.Entities.Site

@{
    var siteSetting = ViewBag.siteSetting as SiteSetting;
}


<footer class="footer footer-2">
    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="~/Theme/assets/images/demos/demo-13/logo-footer.svg" class="footer-logo"
                             alt="Footer Logo">
                        <p>
                            @siteSetting.FooterText
                        </p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">سوالی دارید؟ 7روز هفته/24ساعته</span>
                                    <a href="@siteSetting.Mobile">@siteSetting.Mobile</a>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="FrequentlyQuestions">سوالات متداول</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="FrequentlyQuestions">رویه بازگرداندن کالا</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="SellerGuidelines">چگونه فروشنده شویم</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">ورود</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                            <li><a asp-area="User" asp-controller="Order" asp-action="UserOpenOrder">سبد خرید</a></li>
                            <li><a asp-area="User" asp-controller="Order" asp-action="GetUserOrder">پیگیری سفارشات</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">@siteSetting.CopyRight</p>
            <!-- End .footer-copyright -->

            <div class="social-icons social-icons-color">
                <span class="social-label"> طراح و برنامه نویس سایت | </span>
                <a href="https://navid-ghavami.ir" class="text-danger" title="طراح و برنامه نویس سایت : نوید قوامی" target="_blank">
                    شرکت نوید توسعه غرب
                </a>
            </div><!-- End .social-icons -->

        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->