@model MarketPlace.DataLayer.DTOs.Account.ChangePasswordDTO
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

@section Scripts
{
    <partial name="_JqueryValidators" />
}

<div class="page-header text-center">
    <div class="container">
        <h3 class="text-danger">@ViewData["Title"]</h3>
    </div><!-- End .container -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <h5 class="page-title">پنل کاربری ، @User.Identity.Name</h5>
        </div><!-- End .container -->
    }
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item" aria-current="page"><a asp-area="User" asp-controller="Home" asp-action="Dashboard">داشبورد</a></li>

            <li class="breadcrumb-item active"><a href="#">@ViewData["Title"]</a></li>

        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    @await Component.InvokeAsync("UserSidebarDashboard")
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">

                        <div class="tab-pane fade active show" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            <form method="post">

                                <div class="form-group">
                                    <label>کلمه عبور فعلی</label>
                                    <input type="password" asp-for="CurrentPassword" class="form-control" disabled="disabled" placeholder="*************">
                                </div>


                                <div class="form-group">
                                    <label>کلمه عبور جدید</label>
                                    <input type="password" asp-for="NewPassword" class="form-control">
                                    <span class="text-danger ChangePasswordLeftPadding" asp-validation-for="NewPassword"></span>
                                </div>

                                <div class="form-group">
                                    <label>تکرار کلمه عبور جدید</label>
                                    <input type="password" asp-for="ConfirmNewPassword" class="form-control">
                                    <span class="text-danger ChangePasswordLeftPadding" asp-validation-for="ConfirmNewPassword"></span>
                                </div>

                                <button type="submit" class="btn btn-outline-primary-2 float-right">
                                    <span>ذخیره</span>
                                    <i class="icon-long-arrow-left"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div>

