

<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
    <li class="nav-item">
        <a class="btn btn-info text-white dashboard-width nav-link" asp-area="Seller" asp-controller="Home" asp-action="Index" as id="tab-dashboard-link" role="tab" aria-controls="tab-dashboard" aria-selected="true">
            <i class="fa fa-user-circle text-dark"></i>
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a class="text-center nav-link" asp-area="Seller" asp-controller="Product" asp-action="Index" id="tab-account-link" role="tab" aria-controls="tab-account" aria-selected="false">
        <i class="fa fa-shopping-cart text-dark"></i>
            مدیریت محصولات
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary text-white dashboard-width nav-link" asp-area="Seller" asp-controller="ProductDiscount" asp-action="FilterDiscounts" id="tab-account-link" role="tab" aria-controls="tab-account" aria-selected="false">
        <i class="fa fa-percent text-dark"></i>
            مدیریت تخفیفات
        </a>
    </li>
    <li class="nav-item">
        <a class="text-center nav-link" asp-area="Seller" asp-controller="Order" asp-action="GetOrderForSeller" id="tab-account-link" role="tab" aria-controls="tab-account" aria-selected="false">
            <i class="fa fa-coins text-dark"></i>
            مدیریت سفارشات
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary text-white dashboard-width nav-link" asp-area="Seller" asp-controller="Home" asp-action="ChatWithUser" id="tab-account-link" role="tab" aria-controls="tab-account" aria-selected="false">
            <i class="fa fa-comment text-dark"></i>
            گفتگو با کاربران
        </a>
    </li>
    <li class="nav-item">
        <a class="text-center nav-link" asp-area="Seller" asp-controller="SellerWallet" asp-action="Index" id="tab-account-link" role="tab" aria-controls="tab-account" aria-selected="false">
            <i class="fa fa-wallet text-dark"></i>
            کیف پول فروشنده
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-info text-white dashboard-width nav-link" asp-controller="Account" asp-action="Logout">
        <i class="fa fa-arrow-circle-left text-dark"></i>
            خروج از حساب کاربری
        </a>
    </li>
</ul>