

<header class="header header-10 header-intro-clearance">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <a href="#"><i class="header-dropdown icon-star"></i>به فروشگاه اینترنتی جیبی سنتر خوش آمدید</a>
            </div><!-- End .header-left -->

            <div class="header-right">
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">فهرست</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="~/Theme/assets/images/demos/demo-13/logo.png" alt="فروشگاه اینترنتی جیبی سنتر" title="فروشگاه اینترنتی جیبی سنتر">
                </a>
            </div><!-- End .header-left -->

            @await Component.InvokeAsync("Search")


            <div class="header-right">
                <div class="header-dropdown-link">
                    <div class="dropdown compare-dropdown">
                      @if (!User.Identity.IsAuthenticated)
                      {
                          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false" data-display="static"
                             title="ورود و ثبت نام کاربر" aria-label="Compare Products">
                              <i class="icon-user"></i>
                              <span class="compare-txt">ورود | ثبت نام</span>
                          </a>

                          <div class="dropdown-menu dropdown-menu-right">
                              <ul class="compare-products">
                                  <li class="compare-product">
                                      <h4 class="compare-product-title">
                                          <a asp-controller="Account" asp-action="Login">
                                              <i class=" icon-check">    ورود   </i>
                                          </a>
                                      </h4>
                                  </li>
                                  <li class="compare-product">
                                      <h4 class="compare-product-title">
                                          <a asp-controller="Account" asp-action="Register">
                                              <i class=" icon-check">    ثبت نام   </i>
                                          </a>
                                      </h4>
                                  </li>
                              </ul>
                          </div><!-- End .dropdown-menu -->
                      }
                      else
                      {
                          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false" data-display="static"
                             title="ورود و ثبت نام کاربر" aria-label="Compare Products">
                              <i class="icon-user"></i>
                              <span class="compare-txt">پنل کاربری</span>
                          </a>

                          <div class="dropdown-menu dropdown-menu-right">
                              <ul class="compare-products">
                                  <li class="compare-product">
                                      <h4 class="compare-product-title">
                                          <a asp-area="User" asp-controller="Home" asp-action="Dashboard">
                                              پنل کاربری (@User.Identity.Name عزیز، خوش آمدید)
                                          </a>
                                      </h4>
                                  </li>
                                  <li class="compare-product">
                                      <h4 class="compare-product-title">
                                          <a asp-controller="Account" asp-action="Logout">
                                              خروج
                                          </a>
                                      </h4>
                                  </li>
                              </ul>
                          </div><!-- End .dropdown-menu -->
                      }
                    </div><!-- End .compare-dropdown -->

                    <a href="wishlist.html" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-count">0</span>
                        <span class="wishlist-txt">مورد علاقه</span>
                    </a>

                    @await Component.InvokeAsync("UserOrder")

                </div>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

@await Component.InvokeAsync("GetMenuCategories")

<!-- End .header-bottom -->
</header><!-- End .header -->