


<header class="header header-10 header-intro-clearance">
    
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">فهرست</span>
                    <i class="icon-bars"></i>
                </button>
                <a href="/" class="logo site-logo">
                    <img src="~/Theme/assets/images/demos/demo-13/logo.svg" alt="فروشگاه اینترنتی جیبی سنتر" title="فروشگاه اینترنتی جیبی سنتر">
                </a>

            </div><!-- End .header-left -->
            
            <div class="header-right">
                <div class="header-dropdown-link">
                    <div class="dropdown compare-dropdown">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Account" asp-action="Login" class="wishlist-link">
                                <i class="bi bi-person-circle"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <span class="wishlist-txt">ورود | ثبت نام</span>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" data-display="static"
                               title="ورود و ثبت نام کاربر" aria-label="Compare Products">
                                <i class="icon-user"></i>
                                <span class="compare-txt">پنل کاربری</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="compare-products">
                                    <li class="compare-product">
                                        <h4 class="compare-product-title">
                                            <a asp-area="User" asp-controller="Home" asp-action="Dashboard">
                                                پنل کاربری (@User.Identity.Name عزیز، خوش آمدید)
                                            </a>
                                        </h4>
                                    </li>
                                    <li class="compare-product">
                                        <h4 class="compare-product-title">
                                            <a asp-controller="Account" asp-action="Logout">
                                                خروج
                                            </a>
                                        </h4>
                                    </li>
                                </ul>
                            </div>


                        }
                    </div>

                    <a asp-area="User" asp-controller="Home" asp-action="GetWishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span id="wishlist_count"></span>
                        <span class="wishlist-txt">مورد علاقه</span>
                    </a>

                    @await Component.InvokeAsync("UserOrder")



                </div>
            </div>

        </div><!-- End .container -->



    </div><!-- End .header-middle -->

    @await Component.InvokeAsync("GetMenuCategories")
    @await Component.InvokeAsync("Search")



    <!-- End .header-bottom -->
</header><!-- End .header -->