

.SliderIMG {
    width: 2080px !important;
    height: 100%;
    position: absolute;
}

.SliderContent {
    padding-bottom: 200px;
}

.SlideHeight {
    height: 412px;
}

.ChangePasswordLeftPadding {
    padding-left: 575px;
}

.MessageText {
    font-size: 13px;
    padding-top: 15px;
}

.ck-content {
    height: 300px;
}

.sliderPrice-direction {
    direction: ltr;
}

.categoryFilter-title {
    font-size: 1.6rem;
}



.slider-labels {
    margin-top: 10px;
}

.no-product {
    font-size: 20px !important;
    display: block !important;
}

.productColor-dot {
    width: 25px !important;
    height: 25px !important;
}

.product-filter-margin {
    margin-bottom: 10px;
}

.product-title-lineHeight {
    line-height: 1.6;
}

.product_price {
    color: #3399ff;
    display: flex;
    align-items: center;
    direction: rtl;
    flex-flow: wrap;
    font-weight: 400;
    line-height: 1.25;
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
    justify-content: center;
    text-align: center !important;
}

.cart-button-margin {
    margin-left: 5px;
}

/* CSS */
.button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

    .button-72:hover {
        background-image: linear-gradient(#B384C9, #391F5B 50%);
    }

@media (min-width: 768px) {
    .button-72 {
        font-size: 15px;
    }
}

/* CSS */
.button-73 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(196, 0, 94, .9), rgba(255, 109, 177, .95) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(196, 0, 94, 0.56) 0 2px 2px,rgba(196, 0, 94, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(196, 0, 94, 0.6) 1px 1px 4px,rgba(196, 0, 94, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

    .button-73:hover {
        background-image: linear-gradient(#B384C9, #8e0042 50%);
    }

@media (min-width: 768px) {
    .button-73 {
        font-size: 15px;
    }
}



.full-screen {
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
}

.logoDimension {
    width: 300px;
    height: 75px;
}

.boxIconPadding {
    padding-bottom: 5px;
}

.mobileMenuCategoryPadding {
    padding-left: 3px;
}

.logoAndSelletTextRightPadding {
    padding-right: 30px;
}

.cartButton {
    width: 24px;
    height: 26px;
    background-color: orange;
    color: black;
    margin-right: 50px;
    font-size: 25px;
}

.cartButtonIconPadding {
    padding: 6px;
}

.filterProductCartButton {
    background-color: orange;
    color: black;
}

.filterProductCartButtonText {
    color: black;
}


.SellerText {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}

.SellerTextElement {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(90deg, #a52a2a, #d2691e, #ffff00);
    letter-spacing: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 4s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}


.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #ff7f50;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #ff7f50;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #ff7f50;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
    
}

.file-upload-content img {
    max-width: 80%;
    max-height: 80%;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #ff7f50;
    position: relative;
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #ff7f50;
        border: 4px dashed #ffffff;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}




