@using MarketPlace.DataLayer.DTOs.Site
@using MarketPlace.DataLayer.Entities.Site
@model MarketPlace.DataLayer.DTOs.Site.EditBannerDTO

@{
    ViewData["Title"] = "ویرایش بنر";
}



@section scripts
{
    <partial name="_JqueryValidators" />
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">مدیریت تصاویر</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-plus"></i> @ViewData["Title"]</div>
            <div class="card-body">

                <form asp-area="Administration" asp-controller="Home" asp-action="EditBanner" method="post" enctype="multipart/form-data" id="filter-form">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>متن هدر</label>
                            <input class="form-control" asp-for="Header" />
                            <span class="text-danger float-right" asp-validation-for="Header"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>متن اصلی</label>
                            <input class="form-control" asp-for="MainText" />
                            <span class="text-danger float-right" asp-validation-for="MainText"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>متن دکمه</label>
                            <input class="form-control" asp-for="BtnText" />
                            <span class="text-danger float-right" asp-validation-for="BtnText"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>موقعیت بنر</label>
                            <select class="form-control" asp-for="BannersLocation" asp-items="@Html.GetEnumSelectList<SiteBanner.BannersLocations>()">
                                <option value="0">موقعیت بنر را انتخاب نمایید...</option>
                            </select>
                            <span class="text-danger float-right" asp-validation-for="BannersLocation"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>آدرس لینک</label>
                            <input class="form-control" asp-for="Url" />
                            <span class="text-danger float-right" asp-validation-for="Url"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>سایز بنر</label>
                            <input class="form-control" asp-for="ColSize" />
                            <span class="text-danger float-right" asp-validation-for="ColSize"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>آپلود تصویر</label>
                            <input type="file" name="bannerImage" class="form-control" accept=".png, .jpeg, .jpg" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btn-block">ویرایش بنر</button>
                </form>
            </div>
        </div>
    </div>
</div>






