@using MarketPlace.DataLayer.Entities.Products
@model MarketPlace.DataLayer.DTOs.Products.FilterProductDTO
@{ var categories = ViewBag.ProductCategories as List<ProductCategory>; }

<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form asp-area="" asp-controller="Product" asp-action="SearchProducts" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">جستجو</label>
            <input type="search" class="form-control" asp-for="ProductTitle"
                   placeholder="جستجوی محصول ..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                   role="tab" aria-controls="mobile-menu-tab" aria-selected="true">منو</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                   aria-controls="mobile-cats-tab" aria-selected="false">دسته بندی ها</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                 aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="/">صفحه اصلی</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Product" asp-action="FilterProducts">محصولات</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Blog" asp-action="ArticleList" class="sf-with-ul">بلاگ</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="FrequentlyQuestions">سوالات متداول</a>
                        </li>
                        <li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="AboutUs">درباره ما</a>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                <nav class="mobile-cats-nav">
                    <ul class="mobile-cats-menu">
                        @if (categories != null && categories.Any())
                        {
                            @foreach (var category in categories.Where(x => x.ParentId == null))
                            {
                                <li class="active">
                                    <a>@category.Title<span class="mmenu-btn"></span></a>
                                    <ul style="display: none;">
                                        @if (categories.Any(x=>x.ParentId == category.Id))
                                        {
                                            @foreach (var subcategory in categories.Where(x => x.ParentId == category.Id))
                                            {
                                                <li class="active">
                                                    <a class="text-danger">@subcategory.Title<span class="mmenu-btn"></span></a>
                                                    <ul style="display: none;">
                                                        @if (categories.Any(x=>x.ParentId == subcategory.Id))
                                                        {
                                                            @foreach (var secondSubCategory in categories.Where(x=>x.ParentId == subcategory.Id))
                                                            {
                                                                <li class="active">
                                                                    <a class="text-info" asp-area="" asp-controller="Product" asp-action="FilterProducts"
                                                                       asp-route-Category="@secondSubCategory.UrlName">
                                                                        @secondSubCategory.Title
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }

                    </ul><!-- End .mobile-cats-menu -->
                </nav><!-- End .mobile-cats-nav -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->