
@{
    ViewData["Title"] = "پنل فروشندگی";
}

<div class="page-header text-center">
<div class="container">
    <h3 class="text-danger">داشبورد</h3>
</div><!-- End .container -->
@if (User.Identity.IsAuthenticated)
    {
<div class="container">
    <h5 class="page-title">پنل فروشندگی ، @User.Identity.Name</h5>
</div><!-- End .container -->
    }
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a asp-area="User" asp-controller="Home" asp-action="Dashboard">داشبورد پنل کاربری</a></li>
            <li class="breadcrumb-item" aria-current="page">@ViewData["Title"]</li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="breadcrumb-item active"><a href="#">@User.Identity.Name</a></li>
            }
        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    @await Component.InvokeAsync("SellerSidebarDashboard")
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                            <p>
                                سلام. به پنل فروشندگی خودتان خوش آمدید. شما در اینجا می توانید کلیه عملیات مربوط به محصولات از جمله: اضافه کردن، ویرایش، تعیین تخفیف و ... را بر روی دسته محصولات، محصولات و گالری محصولات انجام دهید.
                            </p>
                        </div><!-- .End .tab-pane -->

                    </div>
                    
                    <div class="form-group">
                        <img src="https://www.kindpng.com/picc/m/9-98361_ecommerce-development-hd-png-download.png" alt="پنل کاربری" />
                    </div>

                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div>


