@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.ActivateMobileDTO
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}

@section Scripts
{
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}

<br />

<div class="form-box">
    <div class="form-tab">

        <div class="text-center nav-link nav nav-pills nav-fill nav-border-anim">
            <span class="nav-link nav  nav-fill nav-border-anim">
                فعالسازی حساب کاربری
            </span>
        </div>
        <br />
        <div @*class="tab-content" id="tab-content-5"*@>
            <div @*class="tab-pane fade"*@ id="activatemobile" @*role="tabpanel" aria-labelledby="register-tab"*@>
                <form method="post" asp-controller="Account" asp-action="ActivateMobile">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />

                    <div class="form-group">
                        <input type="hidden" asp-for="Mobile">
                    </div><!-- End .form-group -->
                    <div class="form-group">
                        <label>کد پیامکی ارسال شده به شماره موبایل خود را وارد نمایید *</label>
                        <input type="text" asp-for="MobileActivationCode" class="form-control" id="mobileactivationcode" name="mobileactivationcode">
                        <span asp-validation-for="MobileActivationCode" class="text-danger"></span>
                    </div><!-- End .form-group -->

                    <div class="form-footer">
                        <button type="submit" class="btn btn-round btn-primary">
                            <span>فعالسازی حساب کاربری</span>
                            <i class="icon-long-arrow-left"></i>
                        </button>
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
</div>


