@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.ForgotPasswordDTO
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

@section Scripts
{
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}


<br />

<div class="form-box">
    <div class="form-tab">

        <div class="text-center nav-link nav nav-pills nav-fill nav-border-anim">
            <span class="nav-link nav  nav-fill nav-border-anim">
                بازیابی رمز عبور
            </span>
        </div>
        <br />
        <div @*class="tab-content" id="tab-content-5"*@>
            <div @*class="tab-pane fade"*@ id="register" @*role="tabpanel" aria-labelledby="register-tab"*@>
                <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />
                    <div class="form-group">
                        <label>تلفن همراه *</label>
                        <input type="text" asp-for="Mobile" class="form-control" id="firstname" name="mobile">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div><!-- End .form-group -->



                    <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                            <span>بازیابی و تایید</span>
                            <i class="icon-long-arrow-left"></i>
                        </button>

                    </div><!-- End .form-footer -->
                </form>
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
</div>


