@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.ForgotPasswordDTO
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

@section Scripts
    {
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>** بازیابی رمز عبور **</></h3>
                <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />
                    <div class="form-group">
                        <input type="text" asp-for="Mobile" maxlength="11" class="form-control" placeholder="شماره موبایل *" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btnSubmit btn btn-round btn-block" value="بازیابی و تایید" />
                    </div>

                </form>
            </div>
            <div class="col-md-6 login-form-2">

                <div class="form-group">
                    <img src="https://www.cloudi5.com/asset/images/mobile-app-development-services-cloudi5.png" alt="بازیابی و تایید" />
                </div>

            </div>
        </div>
    </div>


