@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.LoginUserDTO
@{
    ViewData["Title"] = "ورود و ثبت نام کاربر";
}

@section Scripts
    {
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>** ورود کاربر **</></h3>
                <form method="post" asp-controller="Account" asp-action="Login">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />
                    <div class="form-group">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/002/737/799/small_2x/online-registration-illustration-concept-free-vector.jpg" alt="ورود کاربر" />
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="Mobile" maxlength="11" class="form-control" id="mobile-cats-link" placeholder="شماره موبایل *" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور *" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    
                    <div class="form-group">
                        <input type="hidden" name="returnUrl" class="form-control"/>
                    </div>

                    <div class="form-footer">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="RememberMe" class="custom-register-checkbox">
                            <label style="font-size: 15px;" class="" for="register-policy">
                                مرا
                                <a asp-controller="Home" asp-action="FrequentlyQuestions">
                                    <span class="text-primary">

                                        به خاطر

                                    </span>
                                </a>بسپار *
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btnSubmit btn btn-round btn-block" value="ورود" />
                    </div>
                    <div class="form-group">
                        <a asp-controller="Account" asp-action="ForgotPassword" class="ForgetPwd">رمز عبور خود را فراموش کرده ام !</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-form-2">

                <h4>
                    به فروشگاه آنلاین جیبی سنتر خوش آمدید.
                    <br/>
                    جهت عضویت در سایت و ایجاد حساب کاربری بر روی دکمه زیر کلیک نمایید
                </h4>

                <div class="form-group">
                    <a class="btnSubmit btn btn-round btn-block" asp-controller="Account" asp-action="Register">
                        ثبت نام و عضویت در سایت
                    </a>
                </div>


                <div class="form-group">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/login-denied-4560629-3784195.png" alt="ثبت نام کاربر"/>
                </div>

            </div>
        </div>
    </div>



