@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.LoginUserDTO
@{
    ViewData["Title"] = "ورود و ثبت نام کاربر";
}

@section Scripts
    {
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}


    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">ورود کاربران</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container login-container">
        <div class="row">
            <div class="col-md-10 login-form-1">
                <h3> ورود کاربر </></h3>

                <form method="post" asp-controller="Account" asp-action="Login">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />



                    <div class="form-group">
                        <input type="text" asp-for="Mobile" maxlength="11" class="form-control" id="mobile-cats-link" placeholder="شماره موبایل *" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور *" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>



                    <div class="form-footer">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="RememberMe" class="custom-register-checkbox">
                            <label style="font-size: 15px;" class="" for="register-policy">
                                مرا
                                <a asp-controller="Home" asp-action="FrequentlyQuestions">
                                    <span class="text-primary">

                                        به خاطر

                                    </span>
                                </a>بسپار *
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btnSubmit btn btn-round btn-block" value="ورود" />

                        <a class="btnSubmit1 btn btn-round btn-block text-dark" asp-controller="Account" asp-action="Register">
                            هنوز عضو نشده ام (ثبت نام)
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-primary-2 btn-round text-dark" asp-controller="Account" asp-action="ForgotPassword" class="ForgetPwd">رمز عبور خود را فراموش کرده ام !</a>
                    </div>
                </form>

            </div>

            <div class="col-md-2 login-form-2"></div>

        </div>
    </div>



