@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.RegisterUserDTO
@{
    ViewData["Title"] = "ورود و ثبت نام کاربر";
}

@section Scripts
    {
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}

    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">ثبت نام کاربران</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container login-container">
        <div class="row">
            <div class="col-md-2 login-form-2">
                <div class="form-group"></div>
            </div>
            <div class="col-md-10 login-form-1">
                <h3> ثبت نام کاربر جدید </h3>
                <form method="post" asp-controller="Account" asp-action="Register">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />

                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="نام *" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" asp-for="LastName" class="form-control" placeholder="نام خانوادگی *" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" asp-for="Mobile" maxlength="11" class="form-control" placeholder="شماره موبایل *" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="email" asp-for="Email" class="form-control" placeholder="ایمیل (اختیاری)" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="password" asp-for="Password" class="form-control" placeholder="کلمه عبور *" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="تکرار کلمه عبور *" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-footer">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-register-checkbox" register_checkbox id="register-policy">
                            <label style="font-size: 15px;" class="" for="register-policy">
                                با
                                <a asp-controller="Home" asp-action="FrequentlyQuestions">
                                    <span class="text-danger">

                                        قوانین و مقررات سایت

                                    </span>
                                </a>موافقم *
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="btn-register" onclick="wait_me()" type="submit" class="btnSubmit btn btn-info btn-round btn-block" value="ثبت نام" />
                        <a class="btnSubmit1 btn btn-info btn-round btn-block text-dark" asp-controller="Account" asp-action="Login">
                            کاربر سایت هستم (ورود)
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>


