@using MarketPlace.DataLayer.DTOs.Site
@model MarketPlace.DataLayer.DTOs.Account.RegisterUserDTO
@{
    ViewData["Title"] = "ورود و ثبت نام کاربر";
}

@section Scripts
{
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts"/>
}


<br />

<div class="form-box">
    <div class="form-tab">
        
        <div class="text-center nav-link nav nav-pills nav-fill nav-border-anim">
            <span class="nav-link nav  nav-fill nav-border-anim" >
                ثبت نام
            </span>
        </div>
        <br />
        <div @*class="tab-content" id="tab-content-5"*@>
            <div @*class="tab-pane fade"*@ id="register" @*role="tabpanel" aria-labelledby="register-tab"*@>
                <form method="post" asp-controller="Account" asp-action="Register">
                    <partial name="_CaptchaInput" model="@(new CaptchaViewModel())" />
                    <div class="form-group">
                        <label>نام *</label>
                        <input type="text" asp-for="FirstName" class="form-control" id="firstname" name="firstname">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label>نام خانوادگی *</label>
                        <input type="text" asp-for="LastName" class="form-control" id="lastname" name="lastname">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label>تلفن همراه *</label>
                        <input type="text" asp-for="Mobile" class="form-control" id="mobile" name="mobile">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label>رمز عبور *</label>
                        <input type="password" asp-for="Password" class="form-control" id="password" name="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label>تکرار رمز عبور *</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmpassword" name="confirmpassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div><!-- End .form-group -->
                    
                    <div class="form-group">
                        <label>ایمیل( اختیاری) </label>
                        <input type="email" asp-for="Email" class="form-control" id="email" name="email">
                    </div><!-- End .form-group -->


                    <div class="form-footer">
                        <button type="submit" onclick="wait_me()" class="btn btn-round btn-primary">
                            <i class="bi bi-person-circle"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" style="padding-left: 3px;" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            <span class="wishlist-txt">ثبت نام</span>
                        </button>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="register-policy">
                            <label class="custom-control-label" for="register-policy">
                                با
                                <a href="#">قوانین و مقررات </a>موافقم *
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .form-footer -->
                </form>
                <div class="form-choice">
                    <p class="text-center">یا عضویت با</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-login btn-g">
                                <i class="icon-google"></i>
                                حساب گوگل
                            </a>
                        </div><!-- End .col-6 -->
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-login  btn-f">
                                <i class="icon-facebook-f"></i>
                                حساب فیسبوک
                            </a>
                        </div><!-- End .col-6 -->
                    </div><!-- End .row -->
                </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
</div>

