

<div class="header-top">
    <div class="container">

        <form asp-area="" asp-controller="Product" asp-action="SearchProducts" class="searchForm" method="get">
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" name="productTitle" placeholder="جستجو محصول ...">
                    <input type="text" class="searchTerm" name="storeName" placeholder="جستجو فروشگاه ...">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

    </div><!-- End .container -->
</div>