@using MarketPlace.DataLayer.Entities.Site

@{
    var siteSetting = ViewBag.siteSetting as SiteSetting;
}



<div class="row">
    <div class="col-md-4">
        <div class="contact-box text-center">
            <h3>آدرس</h3>

            <address>@siteSetting.Address</address>
        </div><!-- End .contact-box -->
    </div><!-- End .col-md-4 -->

    <div class="col-md-4">
        <div class="contact-box text-center">
            <h3>اطلاعات تماس</h3>

            <div><a href="mailto:#">@siteSetting.Email</a></div>
            <div><a href="tel:#">@siteSetting.Phone</a>، <a href="tel:#">@siteSetting.Mobile</a></div>
        </div><!-- End .contact-box -->
    </div><!-- End .col-md-4 -->

    <div class="col-md-4">
        <div class="contact-box text-center">
            <h3>شبکه های اجتماعی</h3>

            <div class="social-icons social-icons-color justify-content-center">
                <a href="#" class="social-icon social-facebook" title="فیسبوک" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="اینستاگرام" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .contact-box -->
    </div><!-- End .col-md-4 -->
</div><!-- End .row -->
