@model MarketPlace.DataLayer.DTOs.Blog.Article.CreateArticleDTO

@{
    ViewData["Title"] = "افزودن مقاله جدید";
}

@section styles
{

    <!--DatePicker-->
    <link href="~/lib/date-picker/kamadatepicker.min.css" rel="stylesheet" />
}

@section scripts
{
    <partial name="_AdminJqueryValidators" />

    <!--DatePicker-->
    <script src="~/lib/date-picker/kamadatepicker.min.js"></script>
    <script src="~/lib/date-picker/kamadatepicker.holidays.js"></script>

    <script>
        var customOptions = {
            placeholder: "روز / ماه / سال"
            , twodigit: false
            , closeAfterSelect: true
            , nextButtonIcon: "ماه بعدی"
            , previousButtonIcon: "ماه قبلی"
            , buttonsColor: "blue"
            , forceFarsiDigits: true
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
            , gotoToday: true
        }

        kamaDatepicker('PublishDate', customOptions);


        $("#ProductName").easyAutocomplete(options);
    </script>

}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">مدیریت مقالات</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-plus"></i> @ViewData["Title"]</div>
            <div class="card-body">
                <form asp-area="Administration" asp-controller="Blog" asp-action="CreateArticle" method="post" enctype="multipart/form-data" id="filter-form">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>عنوان مقاله</label>
                            <input class="form-control" asp-for="Title" />
                            <span class="text-danger float-right" asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>دسته مقاله</label>
                            <select class="form-control" asp-for="CategoryId" asp-items='new SelectList(ViewBag.Category, "Id", "Name")'>
                                <option value="0">دسته مقاله مورد نظر را انتخاب نمایید...</option>
                            </select>
                            <span class="text-danger float-right" asp-validation-for="CategoryId"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>تاریخ انتشار</label>
                            <input class="form-control" asp-for="PublishDate" />
                            <span class="text-danger float-right" asp-validation-for="PublishDate"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>توضیحات کوتاه</label>
                            <textarea class="form-control" rows="5" asp-for="ShortDescription"></textarea>
                            <span class="text-danger float-right" asp-validation-for="ShortDescription"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>توضیحات اصلی</label>
                            <textarea class="form-control" ckeditor="1" rows="5" asp-for="Description"></textarea>
                            <span class="text-danger float-right" asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>کلمات کلیدی</label>
                            <input class="form-control" asp-for="Keywords" />
                            <span class="text-danger float-right" asp-validation-for="Keywords"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>توضیحات متا</label>
                            <input class="form-control" asp-for="MetaDescription" />
                            <span class="text-danger float-right" asp-validation-for="MetaDescription"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>آدرس کانونیکال</label>
                            <input class="form-control" asp-for="CanonicalAddress" />
                            <span class="text-danger float-right" asp-validation-for="CanonicalAddress"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>آپلود تصویر</label>
                            <input type="file" name="articleImage" class="form-control" accept=".png, .jpeg, .jpg" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">افزودن مقاله جدید</button>
                </form>
            </div>
        </div>
    </div>
</div>







