<!DOCTYPE html>
<html lang="en" dir="rtl">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | جیبی سنتر</title>
    <meta name="keywords" content="@ViewData["keywords"]">
    <meta name="description" content="@ViewData["metaDescription"]">
    <meta name="Navid Ghavami" content="Navid Ghavami - https://navid-ghavami.ir">
    <partial name="_HeaderReferences" />

    @await RenderSectionAsync("styles", false)
</head>

<body>
    <div class="page-wrapper">

        @await Component.InvokeAsync("SiteHeader")

        <main class="main">

            @RenderBody()

        </main>

        <!-- End .main -->

        @await Component.InvokeAsync("SiteFooter")

    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->


    @await Component.InvokeAsync("MobileMenu")


    <!-- Sign in / Register Modal -->
    @await Component.InvokeAsync("LoginRegisterModal")
    <!-- End .modal -->



    <partial name="_FooterReferences" />
    <partial name="_SiteMessages" />

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>